app/assets/templates/sistema/CFTV/index.html
<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">
  <!-- Modais INICIO -->
    <!-- Novo Monitoramento INICIO -->
      <div style="width: 35em; overflow: hidden;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="novoMonitoramento">
        <div style="z-index: 3; box-shadow: none; padding: 0; overflow: initial;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="novoMonitoramento.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <h4 style="margin: 0;" class="pull-center sc-text-bold">Novo Monitoramento</h4>
          </div>
          <div class="sc-m-xxl">
            <div style="display: flex; overflow: auto; background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Selecione as cameras: </div>
                <div ng-click="listaShow = !listaShow" style="padding: 0; height: 2.7em; width: 15em;" class="sc-text-sm sc-input-default"><span class="pull-left sc-m-sm">Selecione da lista</span><button style="margin: 0;" class="pull-right sc-btn sc-btn-blue"><i class="sc-icon sc-icon-seta-5-baixo"></i></button></div>
                <div style="position: absolute; z-index: 1;">
                  <ul ng-show="listaShow" class="sc-animation-slider sc-border-radius sc-box-shadow-z1 sc-border-gray-light-solid-md sc-bg-white">
                    <li ng-click="lista.click = !lista.click" ng-repeat="lista in lista1 " ng-mouseenter="lista.hover = true" ng-mouseleave="lista.hover = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-p-sm sc-transition sc-border-radius sc-p-md sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter': lista.hover}">
                      <i class="sc-icon sc-icon-quadrado-1" ng-class="{ 'sc-icon-visto-4':lista.click }"></i>
                      <span class="sc-border-l-gray-light-solid-md sc-p-sm">{{lista.name}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Nome do monitoramento: </div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default" />
              </div>
            </div>
          </div>
        </div>
        <div style="z-index: 1;" class="sc-modal-footer">
          <button ng-click="novoMonitoramento.close()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-mais-1 sc-text-sm"></i>
            <span>Salvar</span>
          </button>
        </div>
      </div>
    <!-- Novo Monitoramento FIM -->
    <!-- Editar Monitoramento INICIO -->
      <div style="width: 35em; overflow: hidden;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="editarMonitoramento">
        <div style="z-index: 3; box-shadow: none; padding: 0; overflow: initial;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="editarMonitoramento.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <h4 style="margin: 0;" class="pull-center sc-text-bold">Editar Monitoramento</h4>
          </div>
          <div class="sc-m-xxl">
            <div style="display: flex; overflow: auto; background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Selecione as cameras: </div>
                <div ng-click="listaShow = !listaShow" style="padding: 0; height: 2.7em; width: 15em;" class="sc-text-sm sc-input-default"><span class="pull-left sc-m-sm">Selecione da lista</span><button style="margin: 0;" class="pull-right sc-btn sc-btn-blue"><i class="sc-icon sc-icon-seta-5-baixo"></i></button></div>
                <div style="position: absolute; z-index: 1;">
                  <ul ng-show="listaShow" class="sc-animation-slider sc-border-radius sc-box-shadow-z1 sc-border-gray-light-solid-md sc-bg-white">
                    <li ng-click="lista.click = !lista.click" ng-repeat="lista in lista1 " ng-mouseenter="lista.hover = true" ng-mouseleave="lista.hover = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-p-sm sc-transition sc-border-radius sc-p-md sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter': lista.hover}">
                      <i class="sc-icon sc-icon-quadrado-1" ng-class="{ 'sc-icon-visto-4':lista.click }"></i>
                      <span class="sc-border-l-gray-light-solid-md sc-p-sm">{{lista.name}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Nome do monitoramento: </div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default" />
              </div>
            </div>
          </div>
        </div>
        <div style="z-index: 1;" class="sc-modal-footer">
          <button ng-click="editarMonitoramento.close()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-mais-1 sc-text-sm"></i>
            <span>Salvar</span>
          </button>
        </div>
      </div>
    <!-- Editar Monitoramento FIM -->
    <!-- Nova Camera INICIO -->
      <div style="width: 45em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="novaCamera">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <i style="margin-top: 1.2em; margin-right: 1em;" ng-click="novaCamera.close()" class="sc-cursor-pointer pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
          <img ng-show="esconder" ng-click="esconder = false" style="width: 3em; margin-top: .7em;" class="sc-cursor-pointer margin-right: 1em; pull-right" src="http://i.imgur.com/KI0ELgf.png" />
          <div class="sc-modal-header align-center">
            <h4 style="margin: 0;" class="pull-center sc-text-bold">Nova Camera</h4>
          </div>
          <div class="sc-m-xxl">
            <div ng-hide="esconder" style="overflow: auto;" class="sc-bg-cian-lighter sc-text-cian-dark align-center sc-p-lg sc-m-b-lg sc-border-cian-dark-solid-md sc-border-radius sc-p-md align-justify">
              <p>O sistema de monitoramento de câmeras não é responsabilidade da Seu condomínio, qualquer problema ou dúvida no acesso favor entrar em contato com a administração do condomínio.</p>
              <span ng-click="esconder = true" ng-mouseleave="hover.button = false" ng-mouseover="hover.button = true" class="sc-cursor-pointer sc-m-t-md sc-p-sm sc-m-l-md sc-text-bold pull-right sc-text-cian-dark sc-text-md" ng-class="{ 'sc-border-radius-full sc-bg-cian-dark sc-text-white':hover.button }">Ok, entendi</span>
            </div>
            <div style="display: flex; overflow: auto; background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Localização da câmera: </div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default" />
              </div>
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Link para conexão: </div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default" />
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="novaCamera.close()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
            <span>Salvar</span>
          </button>
        </div>
      </div>
    <!-- Nova Camera FIM -->
    <!-- Editar Camera INICIO -->
      <div style="width: 45em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="editarCamera">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <i style="margin-top: 1.2em; margin-right: 1em;" ng-click="editarCamera.close()" class="sc-cursor-pointer pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
          <img ng-show="esconder" ng-click="esconder = false" style="width: 3em; margin-top: .7em;" class="sc-cursor-pointer margin-right: 1em; pull-right" src="http://i.imgur.com/KI0ELgf.png" />
          <div class="sc-modal-header align-center">
            <h4 style="margin: 0;" class="pull-center sc-text-bold">Editar Camera</h4>
          </div>
          <div class="sc-m-xxl">
            <div ng-hide="esconder" style="overflow: auto;" class="sc-bg-cian-lighter sc-text-cian-dark align-center sc-p-lg sc-m-b-lg sc-border-cian-dark-solid-md sc-border-radius sc-p-md align-justify">
              <p>O sistema de monitoramento de câmeras não é responsabilidade da Seu condomínio, qualquer problema ou dúvida no acesso favor entrar em contato com a administração do condomínio.</p>
              <span ng-click="esconder = true" ng-mouseleave="hover.button = false" ng-mouseover="hover.button = true" class="sc-cursor-pointer sc-m-t-md sc-p-sm sc-m-l-md sc-text-bold pull-right sc-text-cian-dark sc-text-md" ng-class="{ 'sc-border-radius-full sc-bg-cian-dark sc-text-white':hover.button }">Ok, entendi</span>
            </div>
            <div style="display: flex; overflow: auto; background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Localização da câmera: </div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default" />
              </div>
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Link para conexão: </div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default" />
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="editarCamera.close()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
            <span>Salvar</span>
          </button>
        </div>
      </div>
    <!-- Editar Camera FIM -->
  <!-- Modais FIM -->

  <!-- Principal INICIO -->
    <div style="background-color: #dddddd; position: fixed; top: 0; width: 100%; z-index: 1;" class="sc-p-md">
      <div ng-init="totalizadores = true" style="background-color: #dddddd;" class="sc-p-md" style="overflow: hidden;">
        <button ng-click="novaCamera.open()" class="sc-btn sc-btn-awesomeness sc-btn-blue">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
          <div class="sc-btn-text">Cadastar Novo</div>
        </button>
        <div style="display: inline-table;">
        <div class="sc-input-group">
          <input type="text" style="width: 20em;" class="sc-input-default " />
          <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
        </div>
      </div>
        <button ng-click="novoMonitoramento.open()" class="sc-btn sc-btn-awesomeness sc-btn-yellow">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
          <div class="sc-btn-text sc-text-white">Novo Monitoramento</div>
        </button>
      </div>
    </div>
  <!-- Principal FIM -->

  <!-- Cameras INICIO -->
    <div style="margin-top: 6em; overflow: auto; background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
      <div id="columns" class="align-center">
        <div draggable="{{testeArraste}}" ng-mouseleave="hover.camera = false" ng-mouseover="hover.camera = true" style="display: inline-table; width:13em; height: 12em; position: relative; border: none;" class="column sc-p-t-md sc-p-h-md sc-m-md">
          <div style="border-radius: .5em; height: 11.9em; background-color: rgba(0,0,0,.13); position: relative; width: 13.5em;" class="sc-p-md">
            <div ng-mouseleave="testeArraste = false" ng-mouseover="testeArraste = true" style="height: 1.3em; margin-top: -.4em; margin-left: .3em;" class="sc-text-gray pull-left sc-cursor-move">
              <div class="sc-cursor-move" style="line-height: .2em;">...</div>
              <div class="sc-cursor-move" style="line-height: .2em;">...</div>
              <div class="sc-cursor-move" style="line-height: .2em;">...</div>
              <div class="sc-cursor-move" style="line-height: .2em;">...</div>
              <div class="sc-cursor-move" style="line-height: .2em;">...</div>
            </div>
            <span class="sc-text-black sc-text-bold">teste1</span>
          </div>
          <div style="position: absolute; top: 2.6em;">
            <img draggable="false" style="width: 12em; margin-left: .7em;" class="sc-border-radius" src="http://i.ytimg.com/vi/DhNMJahKOLk/hqdefault.jpg">
          </div>
          <div ng-show="hover.camera" class="sc-text-green sc-m-t-md" style="border-radius: 0 0 .2em .3em; margin-left: .7em; position: absolute; width: 81.6%; top: 8.39em; background-color: rgba(0,0,0,.7);">
            <div style="width: 50%;" class="align-center sc-p-md pull-left">
              <span ng-click="editarCamera.open()" class="sc-cursor-pointer">editar</span>
            </div>
            <div style="width: 50%;" class="align-center sc-p-md pull-right">
              <span class="sc-cursor-pointer">excluir</span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div draggable="{{testeArraste}}" ng-mouseleave="lista.camera = false" ng-mouseover="lista.camera = true" style="display: inline-table; width:13em; height: 12em; position: relative; border: none;" ng-repeat="lista in cameras" class="column sc-p-t-md sc-p-h-md sc-m-md">
          <div style="border-radius: .5em; height: 11.9em; background-color: rgba(0,0,0,.13); position: relative; width: 13.5em;" class="sc-p-md">
            <div ng-mouseleave="testeArraste = false" ng-mouseover="testeArraste = true" style="height: 1.3em; margin-top: -.4em; margin-left: .3em;" class="sc-text-gray pull-left sc-cursor-move">
              <div class="sc-cursor-move" style="line-height: .2em;">...</div>
              <div class="sc-cursor-move" style="line-height: .2em;">...</div>
              <div class="sc-cursor-move" style="line-height: .2em;">...</div>
              <div class="sc-cursor-move" style="line-height: .2em;">...</div>
              <div class="sc-cursor-move" style="line-height: .2em;">...</div>
            </div>
            <span class="sc-text-black sc-text-bold">{{$index+1}} <span ng-show="lista.name">- {{lista.name}}</span></span>
          </div>
          <div style="position: absolute; top: 2.6em;">
            <img draggable="false" style="width: 12em; margin-left: .7em;" class="sc-border-radius" src="http://i.ytimg.com/vi/DhNMJahKOLk/hqdefault.jpg">
          </div>
          <div ng-show="lista.camera" class="sc-text-green sc-m-t-md" style="border-radius: 0 0 .2em .3em; margin-left: .7em; position: absolute; width: 81.6%; top: 8.39em; background-color: rgba(0,0,0,.7);">
            <div style="width: 50%;" class="align-center sc-p-md pull-left">
              <span class="sc-cursor-pointer">editar</span>
            </div>
            <div style="width: 50%;" class="align-center sc-p-md pull-right">
              <span class="sc-cursor-pointer">excluir</span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="sc-m-t-xxxl">
        <ul class="sc-text-lg sc-accordion sc-text-blue">
          <li ng-repeat="lista in lista">
            <div class="sc-accordion-head sc-cursor-default">
              <div class="sc-accordion-elastic-col title">
                <span>{{lista.name}}</span>
              </div>
              <div style="width: 10em;" class="sc-accordion-icon-col align-xs-center">
                <button ng-click="alert1()" class="sc-btn sc-btn-yellow">Monitoramento</button>
              </div>
              <div class="sc-cursor-pointer sc-accordion-icon-col align-xs-center">
                <div ng-click="editarMonitoramento.open()" ng-mouseleave="lista.lapis = false" ng-mouseover="lista.lapis = true" class="sc-bagde-icon sc-text-yellow" ng-class="{ 'sc-bg-yellow sc-border-radius-full sc-text-white':lista.lapis }">
                  <i class="sc-icon sc-icon-lapis"></i>
                </div>
              </div>
              <div class="sc-cursor-pointer sc-accordion-icon-col align-xs-center">
                <div ng-mouseleave="lista.lixeira = false" ng-mouseover="lista.lixeira = true" class="sc-bagde-icon sc-text-red" ng-class="{ 'sc-bg-red sc-border-radius-full sc-text-white':lista.lixeira }">
                  <i class="sc-icon sc-icon-lixeira-1"></i>
                </div>
              </div>
            </div>
            <hr ng-show="$index < lista.lenght-1" />
          </li>
        </ul>
      </div>
    </div>
  <!-- Cameras FIM -->

</body>

app/assets/templates/site/Fornecedor/index.jade
html(ng-app='scApp', ng-controller='controll')
  head
    title Fornecedor
    link(href="http://staging.seucondominio.com.br/assets/prototype-b8672555b5fba00a6c848ccf5bcd466c.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body
    h1.sc-p-xxxl(style='margin-top: 0; background: #edeeef;')
    .align-center.sc-m-t-lg.sc-text-gray
      h1.sc-text-blue CADASTRO RÁPIDO
      h4.sc-text-gray CADASTRO FORNECEDOR
      .sc-p-lg.sc-m-lg.sc-border-gray-solid-md.sc-border-radius.sc-p-md(style='border-radius: 2em; display: inline-block; background-color: #F7F7F9;')
        .sc-m-t-lg.sc-m-h-lg(style='display: inline-table;')
          div NOME 
          input.sc-border-radius(style='background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;')
        .sc-m-t-lg.sc-m-h-lg(style='display: inline-table;')
          div E-MAIL 
          input.sc-border-radius(style='background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;')
        .sc-m-t-lg.sc-m-h-lg(style='display: inline-table;')
          div SITE 
          input.sc-border-radius(style='background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;')
        .clear
        .sc-m-t-lg.sc-m-h-lg(style='display: inline-table;')
          div TELEFONE 
          input.sc-border-radius(style='background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;')
        .sc-m-t-lg.sc-m-h-lg(style='display: inline-table;')
          div CATEGORIAS 
          input.sc-border-radius(style='background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;')
        .clear
        .sc-m-t-xxxl
          button.sc-btn.sc-btn-green
            span Salvar
      .clear
      .sc-m-t-xxxl
        h1.sc-bg-blue.sc-text-white.align-center.sc-p-xl(style='margin-bottom: 0;') VEJA COMO FUNCIONA
        h1.setaTeste
        .sc-p-lg.sc-m-lg.sc-border-gray-solid-sm.sc-border-radius.sc-p-md(style='overflow: auto; background-color: #F7F7F9;')
          i.pull-left.sc-m-r-xs.sc-icon.sc-icon-video-1(style='font-size: 12em;')
          div
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------


    script(src="http://staging.seucondominio.com.br/assets/prototype-df624966e363f8d5ceeb4c6f3a6a3be6.js" type='text/javascript')
    script(src="../../source/modernizr.min.js" type='text/javascript')
    script(src="index.js" type='text/javascript')
